.bodyContainer {
  background-color: #121212;
  color: antiquewhite;
}

.skillContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
.life-at-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skillsImage {
  width: 80px;
  height: 80px;
}
